<nav class="navbar navbar-dark bg-primary">

  <a href="/" class="navbar-brand">
    <img class="logo" src="/img/perguntas.png" alt="">
  </a>
  <ul>
    <li>
      <a href="/" class="navbar-brand">Home</a>
      <a href="/perguntar" class="navbar-brand">Perguntar</a>
      <a href="" class="navbar-brand">Sobre</a>
    </li>
  </ul>
</nav>