<%- include('partials/header.ejs')%>
<body>
    <%- include('partials/navbar.ejs')%>

  <div class="container">
    <div class="card" id="formulario-pergunta">
      <div class="card-header">
        <h3>Realizar pergunta</h3>
      </div>
      <div class="card-body">

        <form  method="POST" action= "/salvarFormulario">
          <label>Titulo</label>
          <input type="text" class="form-control" name="titulo" placeholder="Titulo da pergunta">
          <label>Descrição</label>
          <textarea class="form-control" name="descricao" placeholder=" Sua pergunta"></textarea>
          <button class="btn btn-primary">Perguntar</button>
        </form>
      </div>
    </div>

  </div>
  <%- include('partials/footer.ejs')%>
</body>


