* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
h3 {
    font-family: 'Times New Roman', Times, serif;
}

label {
    margin-bottom: 0.5rem;
}


.container{
    position: relative;
}
#perguntar {
    border-radius: 100%;
    font-size: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card{
    margin-top: 1vh;
    cursor: pointer;
}

.card-title{
    padding: 0.8vw;
}

.btn {
    margin-top: 0.8rem;
}

#formulario-pergunta {
    margin-top: 5vh;
}

textarea {
    resize: none;
}

.logo {
    border-radius: 10rem;
    width: 6vw;
    height: 5vh;
    margin-right: 10px;
    margin-left: 2vw;
}
.tituloInicial{
    color: rgb(0, 89, 255);
}
footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 8vh;
}
